* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: auto;
}

/* Style the top */
.top {
  font-family: Arial;
  padding: 5px;
  background-color: black;
  color: white;
  text-align: center;
}

/* Header/logo Title */
.header {
  position: relative;
  margin: auto;
  width: auto;
  height: auto;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: rgb(75, 69, 69);
  float: center;
  justify-content: space-around;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #76e6ee;
  padding: 10px;
  position: relative;
}

/* foto */
.fotoprofil {
  height: 350px; 
  width: 240px;
}

/* Main column */
.main {
  flex: 70%;
  padding: 20px;
}

.archive {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
 }

.main-skills{
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  text-align: center;
 }

.paragraf {
  background-color: grey;
  border: 5px;
}

.main-archive {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.icon-archive img {
  justify-content: space-between;
}

.main-hobby {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  text-align: center;
}


/* Footer */
.footer {
  background: rgb(0, 0, 0);
  display: block;
  width: 100%;
  text-align: center;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.infooter {
  font-family: Times New Roman;
  padding: 20px 20px 10px 10px;
  text-align: right;
  color:rgb(255, 255, 255);
}

/* Responsive layout for Tablet */
@media screen and (max-width: 900px) {
  .row, .navbar {   
    flex-direction: row;
  }
}

/* Responsive layout for smartphone */
@media screen and (max-width: 670px) {
  .row, .navbar {   
    flex-direction: column;
  }
}