body {
    background-color: rgb(155, 192, 248);
    background-image: url(Gambar/pattern.png)
}

h1 {
    font-family: "ink free";
    font-size: 50px;
    text-align: center;
    padding-top: 0px;
}


.container1 {
    /* background-color: rgb(101, 180, 255); */
    /* width: 600px; */
    height: 400px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.kotak {
    padding: 20px;
    text-align: center;
}

.kotak.satu { order: 2; }
.kotak.dua { order: 1;
    align-content: left;
}
.kotak.tiga { order: 3;
    padding-top: 0%;
}

.kotak-dua,li {
    list-style: none;
}

.kotak-dua,li:hover {
    font-size: 20px;
}

.kotak-dua, ul {
    float: left;
}