.container	{
	display: flex;
	border: 5px solid black;
	width: 600px;
	/* height: 600px; */
	margin: 40px auto;
	box-sizing: border-box;
	padding: 2px;
	/* flex-direction: row-reverse */
	/* flex-wrap: wrap; */
	/* justify-content: space-evenly; */
	/* align-items:center; */
	/* align-content: space-around; */
	/* Align items base line, posisi kan berubah tergantung dari isi kontainernya. menyesuaikan dengan base line */
	/* Align conten berlaku jika memiliki banyak konten */
}

.container div	{
	background-color: rgb(147, 224, 226);
	/* width: 100px; */
	/* height: 100px; */
	padding: 6px;
	margin: 3px;
	/* align-self: center; */
}

/* .dua { order: 1;}
.tiga { order: 2;}
.empat { order: 3;}
.satu { order: 4;} */
/* Order akan menunjukan hasil yang kita inginkan jika mengorder semua item */

.satu { flex-grow: 1;}
.dua { flex-grow: 3;}
.tiga { flex-grow: 1;}
.empat { flex-grow: 1;}
/* Hapus width dan height di dalam container untuk melihay hasil yg lebih jelas untuk flex grow. item yang diberi nilai flex grow 1, akan memenuhi semua isi container */